
::-webkit-scrollbar {
  width: 6px;              /* thin scrollbar */
  height: 6px;             /* for horizontal scroll */
}

::-webkit-scrollbar-track {
  background: #191a1a;     /* track color (Tailwind slate-900) */
}

::-webkit-scrollbar-thumb {
  background-color: #011428; /* thumb color (Tailwind blue-500) */
  border-radius: 9999px;     /* fully rounded */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #021f3e; /* thumb hover color (blue-600) */
}



/* slick dots override */
.slick-dots li button:before {
  font-size: 10px !important; /* smaller dots */
  color: #8f8f91 !important;  /* Tailwind blue-500 */
  opacity: 0.8;
}

.slick-dots li.slick-active button:before {
  color: #2563eb !important; /* Tailwind blue-600 for active */
  opacity: 1;
}


.ps-sidebar-container {
  background: rgba(0, 0, 0, 0.786)  !important; /* remove white overlay */
}

.ps-sidebar-container::before {
  background: rgba(0, 0, 0, 0.945) !important;
}




@layer utilities {
  @keyframes scan-line {
    0% {
      top: 0%;
    }
    100% {
      top: 100%;
    }
  
  }

  .animate-scan-line {
    animation: scan-line 2.5s infinite linear;
  }
}


@layer utilities {
  @keyframes pulse-ring {
    0% {
      box-shadow: 0 0 0 0 rgba(56, 189, 248, 0.4); /* sky-400 */
    }
    70% {
      box-shadow: 0 0 0 15px rgba(56, 189, 248, 0);
    }
    100% {
      box-shadow: 0 0 0 0 rgba(56, 189, 248, 0);
    }
  }

  .animate-glow-ring {
    animation: pulse-ring 2s infinite;
  }
}
